# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Kotlin
.kotlin

# prettier
.prettierrc.yaml
yarn.lock
package.json
node_modules

# generated
/src/generated/resources/.cache/**